# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VSCode / PyCharm settings
.vscode/
.idea/

# Model weights
*.h5
*.pt
*.pth
*.ckpt

# Data
*_data

# Train
*_prep.py
*_train.py

# Logs, reports, etc.
*.log
*.csv
*.pdf
*.xlsx
*.bat

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
